<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Silly file host</title>
    </head>
    <body>
        <p>Welcome to</p>
        <a href="https://github.com/flooferland/irc-filehost">
            flooferlands-file-host-that-is-used-for-irc-and-maybe-other-things-in-the-future
        </a>
        <p>I'd add a directory listing here but that would be a security vulnerability!</p>
        <img src="https://avatars.githubusercontent.com/u/76737186\" alt="silly" />
    </body>
</html>